<!DOCTYPE html>
<html lang="en">

<head>

    @@include('./layouts/head.html')

    <!-- ekko-lightbox css -->
    <link rel="stylesheet" href="assets/plugins/ekko-lightbox/css/ekko-lightbox.min.css">
    <link rel="stylesheet" href="assets/plugins/lightbox2-master/css/lightbox.min.css">

    @@include('./layouts/head-bottom-link.html')

</head>

@@include('./layouts/main.html')

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Light Box</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Advance Components</a></li>
                                            <li class="breadcrumb-item"><a href="#!">Light Box</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ single-lightbox ] start -->
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Gallery</h5>
                                    </div>
                                    <div class="card-body">
                                        <p> Use this code <code>data-toggle="lightbox"</code> to see image in
                                            lightbox popup. </p>
                                        <div class="row text-center">
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l1.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl1.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l2.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl2.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l3.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl3.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l4.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl4.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l5.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl5.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12 mt-3">
                                                <a class="card-gallery" data-fslightbox="gallery"
                                                    href="assets/images/light-box/l6.jpg">
                                                    <img class="img-fluid" src="assets/images/light-box/sl6.jpg"
                                                        alt="Card image">

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ single-lightbox ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->

@@include('./layouts/footer.html')

<!-- ekko-lightbox Js -->
<script src="assets/js/plugins/fslightbox.js"></script>

@@include('./layouts/footer-bottom-link.html')

</body>

</html>