<!-- vendor css -->
<link rel="stylesheet" href="assets/css/style.css">@@if(layouts== 'horizontal'){
<link rel="stylesheet" href="assets/css/layouts/layout-horizontal.css">}@@if(bodyclass== 'box-layout'){
<link rel="stylesheet" href="assets/css/layouts/layout-box.css">}@@if(sublayouts== 'layout1'){
<link rel="stylesheet" href="assets/css/layouts/layout-1.css">}@@if(sublayouts== 'layout2'){
<link rel="stylesheet" href="assets/css/layouts/layout-2.css">}@@if(sublayouts== 'layout3'){
<link rel="stylesheet" href="assets/css/layouts/layout-3.css">}@@if(sublayouts== 'layout4'){
<link rel="stylesheet" href="assets/css/layouts/layout-4.css">}@@if(sublayouts== 'layout5'){
<link rel="stylesheet" href="assets/css/layouts/layout-5.css">}@@if(sublayouts== 'layout6'){
<link rel="stylesheet" href="assets/css/layouts/layout-6-7.css">}@@if(sublayouts== 'layout7'){
<link rel="stylesheet" href="assets/css/layouts/layout-6-7.css">}@@if(sublayouts== 'layout8'){
<link rel="stylesheet" href="assets/css/layouts/layout-8.css">}@@if(sublayouts== 'layout9'){
<link rel="stylesheet" href="assets/css/layouts/layout-9.css">}@@if(sublayouts== 'layout11'){
<link rel="stylesheet" href="assets/css/layouts/layout-11.css">}@@if(sublayouts== 'layout12'){
<link rel="stylesheet" href="assets/css/layouts/layout-12.css">}@@if(sublayouts== 'layout13'){
<link rel="stylesheet" href="assets/css/layouts/layout-13.css">}@@if(sublayouts== 'layout14'){
<link rel="stylesheet" href="assets/css/layouts/layout-14.css">}@@if(darktheme== 'true'){
<link rel="stylesheet" href="assets/css/layouts/dark.css">}@@if(rtltheme== 'true'){
<link rel="stylesheet" href="assets/css/layouts/rtl.css">}